<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Book</title>
  </head>
  <body>
    <form action="/newBook" method="POST">
      <label for="title">Enter the book title:</label>
      <input type="text" name="title" id="title" required />

      <label for="genreId">Select Genre</label>
      <select name="genreId" id="genreId" required>
        <option value="" disabled selected>Choose a Genre</option>
        <% genres.forEach((genre) => { %>
        <option value="<%= genre.id %>"><%= genre.genre %></option>
        <% }) %>
      </select>
      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
