<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Genre</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include("nav") %>

    <div class="container addGenreContainer">
      <form action="/newGenre" method="POST">
        <%- include("partials/errors.ejs") %>
        <label for="genre">Enter the Genre:</label>
        <input type="text" name="genre" id="genre" required />
        <label for="password">Admin Password</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Add Genre</button>
      </form>
    </div>
  </body>
</html>
