<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Confirmation Genre</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include("nav") %>
    <div class="container deleteGenreContainer">
      <form action="/deleteGenre" method="POST">
        <%- include("partials/errors.ejs") %>
        <label for="genre"
          >Are you sure to delete this genre(<%= genreDetails.genre %>)?:</label
        >
        <label for="password">Admin Password</label>
        <input type="password" name="password" id="password" required />
        <a href="/genres">No</a>
        <button name="genreId" value="<%= genreDetails.id %>" type="submit">
          Delete
        </button>
      </form>
    </div>
  </body>
</html>
