<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres</title>
  </head>
  <body>
    <% genres.forEach((genre) => { %>
    <a href="genres/<%= genre.id %>"><%= genre.genre %></a>
    <form action="/updateGenre/<%= genre.id %>" method="GET">
      <button type="submit">UPDATE</button>
    </form>
    <form action="/deleteGenre/<%= genre.id %>" method="GET">
      <button type="submit">DELETE</button>
    </form>
    <% }) %>
  </body>
</html>
