<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Genre</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include("nav") %>

    <div class="container updateGenreContainer">
      <form action="/updateGenre" method="POST">
        <label for="genre">Update the genre:</label>
        <input
          type="text"
          value="<%= genreDetails.genre %>"
          name="genre"
          id="genre"
          required
        />
        <button name="genreId" value="<%= genreDetails.id %>" type="submit">
          Update Genre
        </button>
      </form>
    </div>
  </body>
</html>
